{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'todolist:create-task' %}">Create task</a>
  <h1>TODO List</h1>
  {% if task_list %}
    {% for task in task_list %}
      <ul>
        <li>
          {{ task.content }}
          {% if task.done_marker == True %}
            Done
          {% else %}
            Not Done
          {% endif %}
        </li>
        <li>Created: {{ task.datetime }}</li>
      <li>
        {% if task.deadline %}
          Deadline: {{ task.deadline }}
        {% endif %}
      </li>
        <li>Tags: {% for tag in task.tags.all %}
          {{ tag.name }}
          {% endfor %}
        </li>
        <a href="{% url 'todolist:update-task' task.id %}">Update</a>
        <a href="{% url 'todolist:delete-task' task.id %}">Delete</a>
      <li>
        <form action="{% url 'todolist:switch-status-task' task.id%}" method="post">
          {% csrf_token %}
          {% if task.done_marker == True %}
            <input type="submit" value="Undo">
          {% else %}
            <input type="submit" value="Complete">
          {% endif %}
        </form>
      </li>
      </ul>
    {% endfor %}
  {% endif %}
{% endblock %}
